html {
    height: 100%;
}

body {
    height: 100%;
}

.hero-unit {
    margin-top: 60px;
}

.navbar .brand {
    margin-left: -10px;
}

.breadcrumb {
    padding-top: 50px;
    margin-left: 0px;
}

.link-label {
    font-size: 20px;
    line-height: 30px;
    /*vertical-align: middle;*/
}

.help-sidenav {
    width: 200px;
    padding-top:15px;
}

.help-sidenav .icon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px;
}

#content {
    padding-top: 0px; /*60px;  /*accounts for static navbar*/
}

#content .row-fluid {
    padding-top: 15px;
}

#content .help-row-fluid {
    padding-top: 0px;
}

#push {
    height: 50px;
}

#footer {
    background-color: #f5f5f5;
    padding-top: 15px;
    height: 35px;
}


/* Fade-In animated element */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn linear 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;

    -webkit-animation-delay: .5s;
    -moz-animation-delay: .5s;
    animation-delay: .5s;
}
