{% extends "framework/layout.html" %}
{% block title %}About{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="row-fluid">
        <div class="span10 offset1">
            <p>
                This project has been brought to you by the epic minds behind such epic projects as
                'wrapper-functions' and 'tractor-api'.
            </p>

            <img src="http://static.fjcdn.com/pictures/Come+at+me+bro_2172ed_3818729.jpg"/>
    </div>
{% endblock %}


