{% extends "framework/layout.html" %}
{% block title %}About{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

<script type="text/javascript">
      $(function() {
        $(".goto").click(function() {
          var target = $(this).attr("href")
          target = target.substring(1,target.length);
          $(window).scrollTop($('section[id="'+target+'"]').offset().top - 110);
          return false;
        });
    });
</script>

<div class="row-fluid help-row-fluid">
    <div class="span2 offset1">
        <ul class="nav nav-tabs nav-stacked affix help-sidenav">
            <li>
                <a href="#row-glossary" class="goto"><i class="icon-chevron-right"></i> Glossary</a>
            </li>
            <li>
                <a href="#row-setup" class="goto"><i class="icon-chevron-right"></i> Setup</a>
            </li>
        </ul>
    </div>

    <div class="span8">
        <section id="row-glossary">
            <div>
            {# END markdown pre-generated glossary. #}
                <h2 class="well">Glossary</h2>
                <p>To help Paul keep ontop of all this new found <em>jargon</em> here is a simple terms of reference.</p>
                <h3>A</h3>
                <ul>
                <li>
                <h4>Architecture</h4>
                <p>Specifies the hardware architecture which the software package is capable of
                running on. Examples of this are <code>amd64</code>, <code>i386</code> and <code>all</code>.</p>
                </li>
                </ul>
                <h3>B</h3>
                <ul>
                <li>
                <h4>Basedir</h4>
                <p>Base directory of the managed repository. The default settings for a reprepro/apt
                repository expect all other directories to be found relative to this path.</p>
                <blockquote>
                <p>For example; the /pool directory is expected to be located at $basedir/pool.</p>
                </blockquote>
                </li>
                </ul>
                <h3>C</h3>
                <ul>
                <li>
                <h4>Codename</h4>
                <p>A repository can contain any number of distributions. For example <code>lucid</code>,
                <code>precise</code>, <code>quantal</code>. Each of these distributions is identifed by their <em>Codename</em>.</p>
                </li>
                <li>
                <h4>Component</h4>
                <p>Packages are grouped within a distribtion/codename into Components. Under the
                offical ubuntu repositories there are 4. </p>
                <blockquote>
                <p><strong>Main</strong> - Officially supported software.</p>
                <p><strong>Restricted</strong> - Supported software that is not available under a completely free
                                  license.</p>
                <p><strong>Universe</strong> - Community maintained software, i.e. not officially supported
                                software.</p>
                <p><strong>Multiverse</strong> - Software that is not free. </p>
                </blockquote>
                </li>
                <li>
                <h4>Confdir</h4>
                <p>Directory which houses the configuration files for the managed repository.
                Files found in this directory include <code>options</code>, and <code>distributions</code>. </p>
                <p>See the reprepro <a href="http://mirrorer.alioth.debian.org/">documentation</a> for details.</p>
                </li>
                </ul>
                <h3>D</h3>
                <ul>
                <li>
                <h4>Deb File</h4>
                <p>Debian software package file. The software is stored within the package alongside
                control and pre/post installation/removal scripts.</p>
                <p>The debs may be downloaded and locally installed using <code>dpkg -i $debfile</code>.</p>
                </li>
                <li>
                <h4>Distdir</h4>
                <p>Directory which houses the Releases files for distributions contained in the
                repository. These directories/files are managed by reprepro.</p>
                <p>See the reprepro <a href="http://mirrorer.alioth.debian.org/">documentation</a> for details.  <br>
                </p>
                </li>
                <li>
                <h4>Distribution</h4>
                <p>A repository can contain any number of distributions. For example <code>lucid</code>,
                <code>precise</code>, <code>quantal</code>. Each of these distributions is identifed by their <em>Codename</em>.</p>
                </li>
                <li>
                <h4>Dump References</h4>
                <p>A <a href="http://mirrorer.alioth.debian.org/">reprepro</a> action. Causes reprepro to dump a
                list of each of the currently referenced packages within the repository.</p>
                <p>If the Codename/Component for a package has been deleted then the package will no
                longer be referenced and so will not be listed. Old versions of a package (assuming
                these are not being deleted will also not be listed.</p>
                </li>
                </ul>
                <h3>E</h3>
                <h3>F</h3>
                <h3>G</h3>
                <h3>H</h3>
                <h3>I</h3>
                <h3>J</h3>
                <h3>K</h3>
                <h3>L</h3>
                <h3>M</h3>
                <ul>
                <li>
                <h4>Maintainer</h4>
                <p>Each package deb when it is added to the repository should have specifed who the
                package author/maintainer is. This person/team is responsible for updates and code
                fixes required to the software contained in the package.</p>
                </li>
                </ul>
                <h3>N</h3>
                <h3>O</h3>
                <ul>
                <li>
                <h4>Outdir</h4>
                <p>Sets  the base-dir of the repository to manage, i.e. where the pool/ subdirectory
                resides. And in which the dists/ directory is placed by default.  If</p>
                </li>
                </ul>
                <h3>P</h3>
                <ul>
                <li>
                <h4>Package</h4>
                <p>Stored file, with manually injected or downloaded from another repository into the
                pool/ hierarchy. </p>
                </li>
                </ul>
                <h3>Q</h3>
                <h3>R</h3>
                <ul>
                <li>
                <h4>Repository</h4>
                <p>A repository is an organised software archive. Each repository may be organized
                into a number of discreet distributions. These are refered to by their Codenames.</p>
                <p>Each distribution is futher organised into separate areas which contain software
                of different types/roles. For example, supported and unsupported software.</p>
                <p>A reprepro managed repository is a disk based file hierarchy which uses a berkley
                db to track its state. </p>
                </li>
                <li>
                <h4>Reprepro</h4>
                <p>Reprepro (formerly having the working title mirrorer) is a tool to handle local
                repositories of debian packages.</p>
                <ul>
                <li>local addition of files or automatically getting them from some remote repository</li>
                <li>files are stored in a pool/-hirachy</li>
                <li>Uses Berkeley libdb, so no database-server is need, but information is stored in  <br>
                  local files</li>
                </ul>
                </li>
                </ul>
                <h3>S</h3>
                <h3>T</h3>
                <h3>U</h3>
                <h3>V</h3>
                <ul>
                <li>
                <h4>Version</h4>
                <p>Each package may only have 1 version of itself stored within a distribtion at a
                time. When a package file is injected into the repository it's version is checked<br>
                against the currently referenced version. If they are the same the new file is
                rejected. If the new file's version is greater than the existing version then the
                old package file is unreferenced and the new one added to the pool/.</p>
                </li>
                </ul>
                <h3>W</h3>
                <h3>X</h3>
                <h3>Y</h3>
                <h3>Z</h3>
            {# END markdown pre-generated glossary. #}
            </div>
        </section>
        <hr>
        <section id="row-setup">
            <h2 class="well">Setup</h2>
            <p>This document demonstrates the installation, setup and usage of the app.</p>
            <h3>Requirements</h3>
            <ol>
            <li>A debian/ubuntu based system which has the following packages installed:<ul>
            <li><strong>reprepro</strong> - Debian package repository producer    <br>
            </li>
            <li><strong>python-debian</strong> - Python modules to work with Debian-related data formats</li>
            <li><strong>libevX</strong> - high-performance event loop library modelled after libevent. You'll
              need the appropriate version for you distribution.</li>
            </ul>
            </li>
            <li>
            <p>Sudo or <em>(ick root access)</em> if you choose to write the cache files to their preconfigured
                 path in /var/cache. </p>
            </li>
            </ol>
            <h3>Installation</h3>
            <ol>
            <li>
            <p>Download the latest tarball out of github from
                  <a href="https://github.com/andrewbunday/reproweb/tarball/master">here</a>. Extract it into the
                  location you want to run your install from. </p>
            <p>The bundle consists of:
              * reproweb/ - a flask based webapp
              * 3rdParty/ - dependencies required by the webapp (flask/werkzerg/orderddict/jinja2)
              * Scripts to launch and run the webserver - <code>debug-run.py</code> and <code>fapws3-run.py</code></p>
            </li>
            <li>
            <p>Next, download the most up to date version of
                  <a href="http://github.com/andrewbunday/repocheep">reprocheep</a>.
                  Reepocheep is the module which provides an interface to reprepro and dpkg which the
                  webapp uses. Drop the reprocheep file into the 3rdParty/python folder, or add it
                  somewhere on your PYTHONPATH.</p>
            </li>
            <li>
            <p>Decide on your configuration file. The file <code>reproweb/default_settings.py</code> contains
                  the default settings which the app will try to use when it starts up. </p>
            <p>You can either choose to:
              * Edit this file directly
              * Create a new file and inform the webapp to use it by setting the environment variable - </p>
            <pre><code>    REPROWEB_SETTINGS=/path/to/my/settings_file
            </code></pre>
            </li>
            <li>
            <p>Settings which you can change the defaults of are:</p>
            <pre><code>DEBUG = False

            # Application Settings
            APP_NAME =  'ReproWeb'
            APP_SETTINGSFILE = '/var/tmp/reproweb/settings.json'
            APP_CACHEPATH = '/var/cache/reproweb'
            APP_BASEDIR = '/mnt/tech/repositories/apt/auto-lucid'

            # WSGI Settings
            SERVER_PORT = 5000
            </code></pre>
            </li>
            <li>
            <p><strong>IMPORTANT</strong> - If you choose to leave the cache setting at the default location of
                  <code>/var/cache/reproweb</code> then you must make the directory before going any further. </p>
            <p>/var/cache is a restricted directory and will require you to create the the reproweb
              subfolder with sudo access. Once the directory has been created, change the
              permissions on it to allow the user who the web app will run as to write to the
              reproweb directory.</p>
            </li>
            </ol>
            <h3>Running the App</h3>
            <ol>
            <li>Included with the app are two run scripts. <ul>
            <li><code>debug-run.py</code> will use Flask's native WSGI server to
              serve requests. It's handy to use this when you need to debug something since it
              will provide lots of console output and an interactive error page if a view fails.</li>
            <li><code>fapws3-run.py</code> uses the Fast Asynchorous Python Web Server to handle requests on
              behalf of Flask. Its generally more stable than flask's server and can handle far
              more concurrent interactions.</li>
            </ul>
            </li>
            <li>
            <p>Choose one of the run scripts and start it up from the commandline.</p>
            <pre><code>$ python debug-run.py
               * Running on http://0.0.0.0:5000/
               * Restarting with reloader
            </code></pre>
            </li>
            <li>
            <p>Open up a web browser navigating to the localhost, or whatever server you are using.</p>
            <p><center><img alt="" class="img-polaroid" src="/static/img/docs/image_01.png"></center></p>
            </li>
            <li>
            <p>When the app runs for the first time it will try to load its settings from disk.
                  The settings are saved in a json file which holds a serialized version of the
                  default configuration as well as any additional settings we add to the app or
                  which are generated during setup.</p>
            <p>If the app cannot load the settings, because the file doesn't exist it will redirect
              straight to the settings page <strong>http://localhost:5000/settings</strong>:</p>
            <p><center><img alt="" class="img-polaroid" src="/static/img/docs/image_02.png"></center></p>
            <p>The input fields marked with stars are required for the app to run. If the settings
              file is not set you will keep being redirect to the settings page and if the Base
              directory is not set Reproweb has no way of knowing which repository it should be
              looking at.</p>
            </li>
            <li>
            <p>Click on the Save button and if the settings have been stored a green success
                  message will be displayed.</p>
            <p><center><img alt="" class="img-polaroid" src="/static/img/docs/image_03.png"></center></p>
            </li>
            <li>
            <p>Now you can navigate to any of the other pages in the app. I suggest heading to the
                  front page where a welcome message and a few useful links are listed out for you.</p>
            </li>
            </ol>
            <h3>Final Things</h3>
            <p>When a package version is loaded the app will first try to find it in its local cache. If
            it cannot find a cache file it is forced to traul through the repository to locate the
            package and read out its data. </p>
            <p>This can cause the pages to run slowly and cause fairly heavy disk IO. If this is a problem
            you can trigger the app to try and cache all of its apps in one go.</p>
            <p>Either make a request to the url: <code>http://localhost:5000/api/packages/preload</code> or click on
            the menu option 'Reload Cache' under the cog item in the menu.</p>
            <p><center><img alt="" class="img-polaroid" src="/static/img/docs/image_04.png"></center></p>
        </section>
    </div>
</div>
{% endblock %}
