{% extends "layout.html" %}
{% block title %}Component Detail: {{codename}}/{{component}}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="span10 offset1">
            <h1>{{ self.title() }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="span10 offset1">
            <h3>Architectures:</h3>

            <div class="span12">
                {% if archs is defined %}
                    <table class="table table-striped">
                        {% for arch in archs %}
                        <tr>
                            <td><a href="{{arch.get('url')}}">{{arch.get('architecture')}}</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <h3>none defined</h3>
                {% endif %}
             </div>

        </div>
    </div>
{% endblock %}
