{% extends "layout.html" %}
{% block title %}Managed Distributions{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block navbar %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="span10 offset1">
            <h1>Repository: <em>"name"</em></h1>
        </div>
    </div>

    <div class="row">
        <div class="span6 offset1">

            <div class="span12">
                {% if codenames is defined %}
                    <table class="table table-striped">
                    {% for dist in codenames %}
                        <h2><a href="{{dist.get('url', '#')}}">{{dist.get('Codename', 'Unknown')}}</a></h2>
                        <tr>
                            {% for key,value in dist.items() %}
                            <tr>
                                <td><b>{{ key }}</b></td>
                                <td>{{ value }}</td>
                            </tr>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </table>
                {% else %}
                    <h3>none defined</h3>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
