{% extends "layout.html" %}
{% block title %}Package Versions: {{ package }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="span10 offset1">
            <h1>{{ self.title() }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="span10 offset1">
           {% if reference is defined %}
                <div class="span12">
                    <h3>Current Version:</h3>
                </div>

                <div class="span10">
                    <table class="table table-striped">
                        <tr>
                            <td><b>Package</b></td><td>{{ reference.get('package') }}</td>
                        </tr>
                        <tr>
                            <td><b>Version</b></td><td>{{ reference['version'] }}</td>
                        </tr>
                        <tr>
                            <td><b>Codename</b></td><td>{{ reference['codename'] }}</td>
                        </tr>
                        <tr>
                            <td><b>Component</b></td><td>{{ reference['component'] }}</td>
                        </tr>
                        <tr>
                            <td><b>Architecture</b></td><td>{{ reference['arch'] }}</td>
                        </tr>
                        <tr>
                            <td><b>Description</b></td><td>{{ reference['package'] }}</td>
                        </tr>
                        <tr>
                            <td><b>File</b></td><td><a href='file://{{reference["deb"]}}'>{{ reference['deb'] }}</a></td>
                        </tr>
                    </table>
                </div>

                <div class="span12">
                    <h3>All Versions:</h3>
                </div>

                <div class="span12">
                    <ul>
                    {% for version in versions %}
                        <li><a href='{{version.url}}'>{{version.version}}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            {% else %}
                <div class="span12">
                    <h3>not found</h3>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
